songlist
{
	margin: 100px;
}

h1 
{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

headers {
	float:left;
	width: 1650px;
	border: 1px solid black;
}

Header {
	float:left;
	width:285px;
	font-size: 24px;
}

songs 
{
	width:1650px;
	height:300px;
	border: 1px solid black;
	float:left;
}

song
{
	font-size: 17px;
	float: left;
	width:285px;
}

artist 
{
	font-size: 20px;
	float: left;
	width:285px;
	color:blue;
}

album
{
	font-style: italic; 
	float: left;
	width:285px;
}

img 
{
	height:250px;
	width:200px;
	float:right;
}

release-date, genre 
{
	font-size: 16px;
	width:285px;
	float:left;
}

ul
{
	list-style-type: none;
}

li
{
	width:285px;
}

li:before 
{
	content: "- "
}
